* {
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Bold.ttf");
    font-weight: 100;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-weight: 100;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .nav-link:hover {
    transition: .3s;
    color: #c1da0b;
  }

  /* .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  } */

  .section {
    width: 50%;
    border-bottom: 3px solid #ccc;
  }

  code {
    background: transparent;
    background-color: #c1da0b;
    font-style: italic;
    font-size: large;
    font-family: monospace;
  }

  .profile {
    width: 100%;
    /* display: flex; */
    /* text-align: center; */
  }

  .blackquote {
    color: grey;
    font-style: italic;
  }

  .pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .footerz {
display: flex;
color: red;
  }

  .image-footer {
    height: 50px;
  }

  .header {
    max-width: 1440px;
  }